# APP PORT
PORT=
# JWT ENCRYPTION SECRET
JWT_SECRET=
# DATABASE URL
DATABASE_URL=
# FRONTEND URL
FRONTEND_URL=
# CSRF ENCRYPTION SECRET
SESSION_SECRET=
# Mail Configurations
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
# PASSWORD RESET SETUP
PASSWORD_RESET_TIME=
# LOGIN ATTEMPT THRESHOLD (Account will be set inactive if number of retries crosses)
LOGIN_THRESHOLD=
# CACHE DRIVER SUPPORTED ('memory', 'redis') default is memory
CACHE_DRIVER=
# CACHE TIME TO LIVE DURATION IN SECONDS
CACHE_TTL=3600
# REDIS CONFIGURATION
REDIS_HOST
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=