<p>Hello <%= name %>,</p>

<p>Please verify your email by clicking the link below:</p>
<p><a href="<%= url %>"><%= url %></a></p>

<p>
  <strong>Verification Code:</strong> <%= code %>
</p>

<br>

<small>Note: This link is valid for 1 hour.</small>

<p>Thank you!</p>